body {
  color: white;
  background-image: url("https://cdn.discordapp.com/attachments/695008691241484329/789952194731966484/unknown.png");
  height: 100%; 
  background-position: center;
  background-repeat: repeat;
  height: 100%;
}

h1 {
  color: white;
}

p {
  color: white;
}
html {
    height: 100%;
}

a:link {
      color: #ff0000;
}
a:visited {
      color: #FFA500;
}
a:hover, a:active, a:focus {
      color: #FF69B4;
}



