body, html {
    height: 100%;
  }

body {
    background-image: url("https://cdn.discordapp.com/attachments/695008691241484329/789952194731966484/unknown.png");
    height: 100%; 
    background-position: center;
  background-repeat: repeat;
  
}

a {
    color: red;
}

a:hover {
    color: hotpink;
}

a:visited {
    color: orange;
}
