body {
  color: white;
}

h1 {
  color: white;
}

p {
  color: white;
}
body, html {
    height: 100%;
  }

body {
    background-color: #6b7c49;
    height: 100%;
    background-position: center;
  background-repeat: repeat;
}
